body{
    background-color: emerald;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1{
    background-color: #d2a679;
    text-align: center;
}

h2{
    background-color: #d2a679;
    text-align: center;
}