body{
    background-color: #ebfaeb;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1{
    background-color: #8e6c49;
    text-align: center;
}

h2{
    background-color: #8e6c49;
    text-align: center;
}

section{
    background-color: #ebfaeb;

}

p{
    margin: 50px;
}
