body{
    background-color: emerald;
    background-image: url("tigers.jpg");
    background-repeat: round;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    background-color: white;
}

h2{
    background-color: white;
}